.poster{
    border: 2px solid white;
    /* position: relative;
    top:-1rem; */
    width: 100%;
    height: fit-content;
    background-color: white;
}
.poster h1{
    font-size: 2.5rem;
}
.box{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    margin: 60px auto ;
}
.box1{
    width: 32%;
    /* border: 2px solid rgb(28, 42, 82); */
    border-radius: 20px;
    background: linear-gradient(to right, #eccde0, #dfb2f7);
    min-height: 45vh;
    /* margin: 5px 10px; */
    padding: 10px 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
/* .box1:hover{
    height: 50vh;
    width: 40%;
    cursor: pointer;
    transition: all 0.4s ease;
} */
.animate{
    /* border: 2px solid red; */
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
}
.box h2{
    font-size: 1.7rem;
}
@media screen and (max-width: 745px) {
    .box{
      flex-direction: column;
      margin:  20px auto;
    }
    .box1{
        margin: 10px auto ;
        width: 90%;
        height: fit-content;
    }
  }
