.form {
  /* border: 2px solid red; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls{
  /* border: 2px solid red; */
  width: 80%;
  display: flex;
  flex-direction: column;
}
.actions{
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  width: 50%;
}


.actions button {
  
  border-radius: 10px;
  border-radius: 10px;
  border-color: white;
  border: transparent;
  background: linear-gradient(to right, #ad5389, #3c1053);
  font-weight: bolder;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 0;
  margin: 10px;
}
.actions button:disabled{
  background: transparent;
  color:  rgb(10, 28, 87);
  border:2px solid rgb(10, 28, 87);
  cursor: not-allowed;

}
.controls input,
.controls select{
  border: none;
  font: inherit;
  font-size: 1.2rem;
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, #eccde0, #dfb2f7);
  font-weight: 200;
  margin: 10px;

}
.form input:focus,.form select:focus  {
  outline: none;
}
.form label{
  color: rgb(10, 28, 87);
  opacity: 1;
  margin:5px 0px;
  font-weight: bolder;
  font-size: 1.2rem;
}
 /* History */
 .history {
  border: 2px solid red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.history table{
  border: 2px solid green;
  width: 90%;
}
.error{
  color: #b40e0e;
  font-weight: 800;
}
